/* https://github.com/dracula/dracula-theme */
:root {
  --theme:       hsl(232, 14%, 31%);
  --entry:       hsl(231, 15%, 18%);
  --primary:     hsl(135, 94%, 65%);
  --secondary:   hsl(191, 97%, 77%);
  --tertiary:    hsl(191, 97%, 77%);
  --quarternary: hsl(265, 89%, 78%);
  --content:     hsl( 60, 30%, 96%);
}