/* https://github.com/whatyouhide/gotham-contrib */
:root {
  --theme:       hsl(210, 25%,  6%); /* #0C1014 */
  --entry:       hsl(204, 67%, 11%); /* #091f2E */
  --primary:     hsl(165, 60%, 41%); /* #2aa889 */
  --secondary:   hsl(191, 33%, 51%); /* #599cab */

  /* Split tertiary hsl here in order to generate tint */
  --tertiary-color: 19, 63%;
  --tertiary-l:     52%;
  --tertiary:       hsl(var(--tertiary-color), var(--tertiary-l)); /* #d26937 */
  --tertiary-tint:  hsl(var(--tertiary-color), calc(var(--tertiary-l) - 15%));

  --quarternary: hsl(165, 60%, 41%); /* #2aa889 */
  --content:     hsl(191, 33%, 51%); /* #599cab */
}