{{- partial "head.html" . }}

<!-- Navigation -->
{{- partial "header.html" . }}


<article class="post-single">
  <header class="post-header box-shadow-md border-blk-sm">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta">
      {{- if or .Params.Author .Site.Author.name }}
      <span class="post-author box-shadow-sm border-blk-sm">{{- .Params.Author | default .Site.Author.name }}</span>
      {{ end }}
      <span class="post-date box-shadow-sm border-blk-sm">{{- .Date.Format "January 2, 2006" -}}</span>
    </div>
  </header>
  <div class="post-content">{{ .Content }}</div>
  {{- if .Params.tags }}
  <span class="post-footer">
    <ul class="post-tags">
      {{- range .Params.tags }}
      {{- $href := print (absURL "tags/") (urlize .) }}
      <li><a href="{{ $href }}">{{ . }}</a></li>
      {{- end }}
    </ul>
  </span>
  {{- end }}
</article>

{{- if .Site.Params.PostProgress }}
{{ $progressSrc := resources.Get "js/progress.js"  }}
{{ $src := $progressSrc | resources.Minify }}
<script src="{{ $src.Permalink }}"></script>
{{- end }}

{{- partial "footer.html" . }}
