{{ partial "header.html" . }}
<article class="post post-view">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <p class="post-meta">
      {{- if or .Params.author .Site.Params.author -}}
      {{ .Params.author | default .Site.Params.author }} · {{ end }}
      {{- .Date.Format "Jan 2, 2006" -}} · 
      {{ with .Params.categories }}
      {{ $categoriesLen := len . }}
        {{ if gt $categoriesLen 0 }}
        <span>{{ i18n "post.categorized_in" }}</span>
          {{ range $k, $v := . }}
            <a class="category-link" href="{{ . | printf "%s%s" "/categories/" | urlize | lower | relLangURL }}">{{ . }}</a>{{ if lt $k (sub $categoriesLen 1) }}, {{ end }}
          {{ end }}
        {{ end }}
    {{ end }}
    </p>
  </header>
  <div class="post-content">{{ .Content }}</div>
  <footer class="post-footer">
    {{ if .Params.tags }}
    <ul class="post-tags">
      {{ range .Params.tags }}
      <li><a href="{{ `/tags/` }}{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </footer>
  <!-- Comments system area -->
</article>
{{ partial "footer.html" . }}
