.spotify-playlist-container ul {
  padding: 0;
}
.spotify-playlist-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-bottom: var(--gap);
  background: var(--entry);
  border: .1px solid var(--border);
}
.spotify-playlist-header img {
  width: 310px;
  height: auto;
}
.spotify-playlist-content {
  width: 300px;
}
.spotify-playlist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.spotify-playlist-track {
  width: 310px;
  list-style: none;
  margin-bottom: var(--gap);
  background: var(--entry);
  border: .1px solid var(--border);
}
.spotify-playlist-track-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}
.spotify-playlist-track-content {
  padding: var(--gap);
}
.spotify-playlist-track-content h3 {
  font-size: 1.2rem;
  margin-top: 0;
}
.spotify-playlist-track-artist {
  font-size: .75rem;
}