{{- if .Title }}
<section class="page-header">
  <div class="page-header-content">
    <h1>{{ .Site.Params.HomePage.Title }}</h1>
    {{- if (and .Site.Params.HomePage.description .IsHome) }}
    <div class="page-description">
      {{ .Site.Params.HomePage.description }}
    </div>
    <div class="social-icons">
      {{- range .Site.Params.HomePage.socialIcons }}
      <a href="{{ trim .url " " }}" target="_blank" rel="noopener noreferrer me" title="{{ .name | humanize }}">
          {{ partial "icons.html" . }}
      </a>
      {{- end }}
    </div>
  </div>
  {{- end }}
  {{- if .Site.Params.HomePage.avatar }}
  <div class="page-header-avatar">
    <img src="{{ .Site.Params.HomePage.avatar | absURL }}" alt="avatar" height=175 width=175 />
  </div>
  {{- end }}
</section>
{{ end }}