<!-- mermaid.html -->
{{ if .Params.mermaid }}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ 
    startOnLoad: true,
    theme: 'dark',
  });
</script>
<script>
  Array.from(document.getElementsByClassName('language-mermaid')).forEach(
    (el) => {
      el.parentElement.outerHTML = `<div class="mermaid">${el.innerHTML}</div>`;
    },
  );
</script>
<style>
  .mermaid svg {
    display: block;
    margin: auto;
  }
  .mermaid {
    background-color: #191919;
    padding: 5px;
    box-shadow: 0 0 5px 10px #191919;
  }
</style>
{{ end }}
