:root {
  --gap: 24px;
  --content-gap: 40px;
  --nav-width: 1024px;
  --main-width: 640px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;

  --theme: #fff;
  --entry: #fff;
  --primary: rgba(0, 0, 0, 0.88);
  --secondary: rgba(0, 0, 0, 0.56);
  --tertiary: rgba(0, 0, 0, 0.16);
  --content: rgba(0, 0, 0, 0.88);

  --hljs-bg: #1c1d21;
  --code-bg: #f5f5f5;
  --border: #eee;
}

/* https://github.com/toothpaste-theme/toothpaste */
.toothpaste {
  --theme:       #222E33; /* blue-gray-darkest */
  --entry:       #13181B; /* blue-gray-dark */
  --primary:     #73B3C0; /* Cyan */
  --secondary:   #DAE3E8;
  --tertiary:    #CC6666;
  --quarternary: #DBCD7F;
  --content:     #C5C5C0; /* Gray */

  --hljs-bg:     #13181B;
  --hljs-op:     #9DC777;
  --code-bg:     #13181B;
  --border:      #5b5d67;
}

/* https://github.com/whatyouhide/gotham-contrib */
.gotham {
  --theme:       #0C1014;
  --entry:       #091f2E;
  --primary:     #2aa889;
  --secondary:   #599cab;
  --tertiary:    #d26937;
  --quarternary: #2aa889;
  --content:     #599cab;

  --hljs-bg:     #091f2E;
  --code-bg:     #091f2E;
  --border:      #5b5d67;
}