/* https://github.com/dracula/dracula-theme */
:root {
  --theme:        hsl(240,  3%, 94%); /* #f0f0f1 */
  --entry:       	hsl(240, 23%, 97%); /* #f7f7fa */
  --primary:      hsl(219, 24%, 34%); /* #41506b */
  --secondary:    hsl(213, 13%, 33%); /* #48525e */

  /* Split tertiary hsl here in order to generate tint */
  --tertiary-color: 346, 31%;
  --tertiary-l:     37%;
  --tertiary:       hsl(var(--tertiary-color), var(--tertiary-l)); /* #7b414f */
  --tertiary-tint:  hsl(var(--tertiary-color), calc(var(--tertiary-l) - 15%));

  --quarternary:   hsl(229, 18%, 82%); /* #c8cbd9 */
  --content:       hsl(213, 13%, 33%); /* #48525e */
  --border:        hsl(229, 18%, 82%); /* #c8cbd9 */
}