/* https://github.com/toothpaste-theme/toothpaste */
:root {
  --theme:        hsl(198, 20%, 17%); /* #222E33 */
  --entry:       	hsl(203, 17%,  9%); /* #13181B */
  --primary:     	hsl(190, 38%, 60%); /* #73B3C0 */
  --secondary:    hsl(201, 23%, 88%); /* #DAE3E8 */

  /* Split tertiary hsl here in order to generate tint */
  --tertiary-color: 0, 50%;
  --tertiary-l:     60%;
  --tertiary:       hsl(var(--tertiary-color), var(--tertiary-l)); /* #CC6666 */
  --tertiary-tint:  hsl(var(--tertiary-color), calc(var(--tertiary-l) - 15%));

  --quarternary:  hsl( 51, 56%, 68%); /* #DBCD7F */
  --content:     	hsl( 60,  4%, 76%); /* #C5C5C0 */
  --border:           var(--secondary);
}